<%= provide(:title, @user.username) %>
<div class="notice">
  <%= notice %>
</div>
<h1>
  <%= gravatar_image(@user) %>
  <p>
    <%= @user.username %>, in <%= @user.city %>
  </p>
</h1>
<p>
  <%= link_to 'Update info', edit_user_path(@user) %> | <%= link_to 'Home', root_path %>
</p>
